# Ignorar todo el contenido dentro del entorno virtual:
venv/*
practica31-numpy_dtypes/*
practica33-broadcasting/*
# Excepción para los archivos [].py, .ipynb] dentro del entorno:

!practica31-numpy_dtypes/**/practica31-numpy_dtypes.py
!practica33-broadcasting/**/practica33-broadcasting.ipynb
