# Ignorar todo el contenido dentro del entorno virtual:
pract31-numpy_dtypes/*
pract33-broadcasting/*
# Excepción para los archivos [.py, .ipynb] dentro del entorno:
!pract31-numpy_dtypes/src/p31-numpy_dtypes.py
!pract33-broadcasting/src/p33-broadcasting.ipynb
